@import '../../static/styles/colors';

.in-touch-icons {
  width: 100px;
  fill: #333;

  &:first-child{
    margin-right: 40px;
  }
}


.oc-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.oc-member {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.oc-member {
  width: 222px;

  .oc-name {
    font-size: 20px;
    font-weight: 400;
  }
  .oc-title {
    color: $gold;
    text-transform: uppercase;
  }
  .oc-title, .oc-twitter {
    font-size: 14px;
  }
  .oc-twitter {
    color: black;
  }
}

.organizers .tab-title {
  font-weight: 500;
  padding: 0px 0px 10px 0px;
}

.oc-member-box {
  display: flex;
  flex-direction: row;

  .oc-member-img {
    margin-right: 10px;
  }
}

.faq-list {

  .faq-single {
    /*padding-bottom: 20px;*/

    .faq-question {
      display: flex;
      padding: 10px;
      font-size: 16px;
      font-weight: 300;
      align-items: center;

      .question {
        font-weight: 500;
      }
    }
    .faq-answer {
      display: flex;
      font-size: 16px;
      font-weight: 300;
      align-items: center;
    }

    .faq-q, .faq-a {
      font-size: 30px;
      font-weight: 500;
      padding-right: 10px;
      max-width: 20px;
    }

    .question, .answer {
      padding-left: 10px;
      min-height: 30px;
      border-left: 3px solid $gold;
      align-items: center;
    }

    .question {
      display: flex;
    }
  }
}

.rc-collapse > .rc-collapse-item > .rc-collapse-header {
  height: inherit !important;
  line-height: unset !important; 
  text-indent: 0px !important;
  color: #666 !important;
  display: flex;
  border-bottom: 2px solid #eee;
}
.rc-collapse {
  border: none !important;
  width: 100% !important;
}
.rc-collapse-content {
  padding: 0 38px !important;
}
i.arrow {
  margin-left: 15px;
  align-self: center;
}



