
.sign-up-btn {
  width: 35%;
}

.updates {
  padding-bottom: 30px;
}

.freebirdFormviewerViewFormBanner.freebirdHeaderMast {
  height: 0px !important;
}

.tagline {
  font-weight: 300;
  font-size: 28px;
  line-height: 36px;
}

.call-to-order {
  font-weight: 100;
  font-size: 20px;
  line-height: 24px;
}

.volunteer-btn {
  width: 200px;
  float: left;
}