@import '../../static/styles/colors';
@import '../../static/styles/variables';


.speakers {
  .title {
    margin-top: 0px;
  }
}

.speaker-section {
  margin-top: 30px;
  padding-bottom: 50px;
}

.keynote-section {
  display: flex;


  .kernelcon-text-area {
    display: flex;
    flex-direction: column;
  }

  .bio-name {
    margin: 30px 0px 0px 0px;
  }
  .bio-title {
    margin-block-start: 10px;
    font-weight: 100;
    letter-spacing: 2px;

    a {
      color: $gold;
      text-decoration: none;

      &:not(:first-child) {
        &:before {
          content: "\2022";
          color: $gold;
          margin: 0px 8px;
        }
      }
    }

  }
  .bio-text {
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;
  }

  .keynote-image-area {
    padding: 40px 10px 10px 20px;
  }
}



.speaker-section {
  .title {
    padding-bottom: 30px;
  }
  .title-reversed {
    padding: 20px 0px;
  }

  .speakers {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    .individual-speaker-section {
      padding-bottom: 30px;
      display: flex;
      flex-direction: row;
      width: 460px;

      .bio-image {
        border-radius: 50%;
      }

      h3 {
        font-size: 1.25em;
        font-family: 'Jura', 'Montserrat', sans-serif;
        margin-top: 0px;
        margin-bottom: 10px;
      }

      .speaker-image {
        display: flex;
        flex-direction: column;
        padding-right: 15px;
      }
      .speaker-wording {
        display: flex;
        flex-direction: column;

        .speaker-titles {
          color: $gold;
          /*margin-bottom: 10px;*/

          span {
            &:not(:first-child) {
              &:before {
                content: "\2022";
                color: $gold;
                margin: 0px 8px;
              }
            }
          }
        }

        .bio-image {
          float:right;
          margin-top: -30px;
          padding: 0px 5px 5px 5px;
          width: 130px;
          height: 130px;
        }

        p {
          margin-block-start: 0.5em;
          font-weight: 300;
          font-size: 15px;
          line-height: 20px;
        }

      }
    }
  }
}




/************
    TALKS
*************/
.talks {
  h1 {
    margin-bottom: 20px;
  }

  .single-talk {
    padding-bottom: 30px;

    .talk-title {
      text-transform: uppercase;
      font-size: 24px;
      font-weight: 900;
      font-family: 'Jura', 'Roboto', sans-serif;
    }


    .talk-sub-title {
      display: flex;
      padding:  20px 0px;
      align-items: center;

      .speaker-name {
        padding-right: 20px;
        font-size: 20px;
        font-family: 'Jura';
        color: $gold;
      }

      .speaker-icon-bar {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 0px 20px;
        border-left: 1px solid #777;

        & :not(:first-child) {
          margin-left: 20px;
        }

        .speaker-icons {
          width: 20px;
          fill: $gold;
          display: flex;
        }
        .speaker-icons:hover{
          cursor: pointer;
          fill: #cfad7d;
        }
      }
      .length {
        white-space: nowrap;
        font-family: 'Jura';
        padding-left: 20px;
        border-left: 1px solid #777;
      }
    }

    .abstract {
      font-family: 'Roboto', sans-serif;
      line-height:20px;
      font-size: 18px;
      font-weight: 300;
      letter-spacing: 0.5px;
    }

  }
}








