@import '../../static/styles/colors';
@import '../../static/styles/variables';


.speakers {
  .title {
    margin-top: 0px;
  }
}

.speaker-section {
  margin-top: 30px;
  padding-bottom: 50px;
}

.keynote-section {
  display: flex;


  .kernelcon-text-area {
    display: flex;
    flex-direction: column;
  }

  .bio-name {
    margin: 30px 0px 0px 0px;
  }
  .bio-title {
    margin-block-start: 10px;
    font-weight: 100;
    letter-spacing: 2px;

    a {
      color: $gold;
      text-decoration: none;

      &:not(:first-child) {
        &:before {
          content: "\2022";
          color: $gold;
          margin: 0px 8px;
        }
      }
    }

  }
  .bio-text {
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;
  }

  .keynote-image-area {
    padding: 40px 10px 10px 20px;
  }
}



.speaker-section {
  .title {
    padding-bottom: 30px;
  }
  .title-reversed {
    padding: 20px 0px;
  }

  .speakers {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    .individual-speaker-section {
      padding-bottom: 30px;
      display: flex;
      flex-direction: row;
      width: 460px;

      .bio-image {
        border-radius: 50%;
      }

      h3 {
        font-size: 1.25em;
        font-family: 'Jura', 'Montserrat', sans-serif;
        margin-top: 0px;
        margin-bottom: 10px;
      }

      .speaker-image {
        display: flex;
        flex-direction: column;
        padding-right: 15px;
      }
      .speaker-wording {
        display: flex;
        flex-direction: column;

        a {
          text-decoration: none;
          font-size: 20px;
          font-family: 'Jura';
          color: black;
        }

        .speaker-titles {
          color: $gold;
          /*margin-bottom: 10px;*/

          span {
            &:not(:first-child) {
              &:before {
                content: "\2022";
                color: $gold;
                margin: 0px 8px;
              }
            }
          }
        }

        .bio-image {
          float:right;
          margin-top: -30px;
          padding: 0px 5px 5px 5px;
          width: 130px;
          height: 130px;
        }

        p {
          margin-block-start: 0.5em;
          font-weight: 300;
          font-size: 15px;
          line-height: 20px;
        }

      }
    }
  }
}




/************
    TALKS
*************/
.talks {
  h1 {
    margin-bottom: 20px;
  }

  .single-talk {
    padding-bottom: 30px;

    .talk-title {
      text-transform: uppercase;
      font-size: 24px;
      font-weight: 900;
      font-family: 'Jura', 'Roboto', sans-serif;
    }


    .talk-sub-title {
      display: flex;
      padding:  20px 0px;
      align-items: center;
      flex-wrap: wrap;

      .speaker-name {
        padding-right: 20px;
        color: $gold;

        a {
          text-decoration: none;
          font-size: 20px;
          font-family: 'Jura';
          color: $gold;
        }
      }

      .speaker-icon-bar {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 0px 20px;
        border-left: 1px solid #777;

        & :not(:first-child) {
          margin-left: 20px;
        }

        .speaker-icons {
          width: 20px;
          fill: $gold;
          display: flex;
        }
        .speaker-icons:hover{
          cursor: pointer;
          fill: #cfad7d;
        }
      }
      .length {
        white-space: nowrap;
        font-family: 'Jura';
        padding: 0px 20px;
        border-left: 1px solid #777;
        border-right: 1px solid #777;
      }
      .technical {
        margin-left: 20px;
        font-family: 'Jura';
        display: flex;
        align-items: center;

        .tech-label {
          padding-left: 30px;
        }
      }
    }

    .abstract {
      font-family: 'Roboto', sans-serif;
      line-height:20px;
      font-size: 18px;
      font-weight: 300;
      letter-spacing: 0.5px;
    }

  }
}


* {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


.schedule-tabs {
  font-family: Lato, Gotham, Arial;
  
  .tabs {
    display: flex;
    justify-content: center;
  }
  .tabs li {
    float: left;
    width: 40%;
    display: block;
  }
  .tabs input[type="radio"] {
    display: none;
  }
  .tabs label {
    display: block;
    padding: 25px 0;
    font-weight: normal;
    text-transform: uppercase;
    text-align: center;
    background: #d9d9d6;
    color: #707372;
    cursor: pointer;
    position: relative;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  .tabs label:hover {
    background: $baltic-sea;
    color: #ffffff;
  }
  .tabs label span {
    display: block;
    font-size: 6em;
    line-height: 1;
    font-weight: 900;
  }
  .tabs .tab-content {
    z-index: 2;
    display: none;
    overflow: hidden;
    width: 100%;
    font-size: 17px;
    line-height: 25px;
    padding: 25px;
    position: absolute;
    top: 184px;
    left: 0;
    background: #ffffff;
  }
  .tabs [id^="tab"]:checked + label {
    background: $light-gold;
    color: #ffffff;
  }
  .tabs [id^="tab"]:checked + label:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: calc(50% - 20px);
    border: 20px solid transparent;
    border-bottom-color: #fff;
  }
  .tabs [id^="tab"]:checked ~ [id^="tab-content"] {
    display: block;
  }

  table {
    width: 100%;
  }

  tr:nth-of-type(even) {
    background-color: #ffffff;
  }

  tr:first-of-type {
    padding-top: 50px;
  }

  td {
    border: 0;
    width: 75%;
    vertical-align: top;
    padding: 15px;
  }
  td:nth-of-type(2n+1) {
    width: 25%;
    text-align: right;
    font-weight: bold;
    text-transform: uppercase;
  }

  .session-title {
    font-weight: bold;
    text-transform: uppercase;
  }

  .session-description {
    display: block;
  }



  .grid-wrapper-friday {
    margin-top: 20px;
    display: grid;
    grid-gap: 10px;
    grid-template-rows: 42px 42px 42px 28px 112px 34px 112px 42px 42px 112px 112px 112px 42px 42px 42px 112px 112px 112px 300px 30px;
    grid-template-columns: calc(50% - 10px) calc(50% - 10px);
    background-color: #fff;
    color: #444;
    padding-bottom: 30px;
    font-size: 14px;

    a {
      text-decoration: none;
    }
  }

  .grid-wrapper-saturday {
    margin-top: 20px;
    display: grid;
    grid-gap: 10px;
    grid-template-rows: 42px 42px 42px 28px 112px 34px 112px 42px 42px 112px 112px 112px 42px 42px 42px 112px 112px 66px 30px;
    grid-template-columns: calc(50% - 10px) calc(50% - 10px);
    background-color: #fff;
    color: #444;
    padding-bottom: 30px;
    font-size: 14px;

    a {
      text-decoration: none;
    }
  }

  .eagle {
    grid-row-start: 14;
    grid-row-end: 16;
  }
  
  .mult-rows {
    grid-row-start: 8;
    grid-row-end: 11;
  }

  .box {
    background-color: $gallery;
    color: $mine-shaft;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-left: solid 8px $light-gold;
    padding: 5px 10px;
    display: flex;
    height: 100%;
    overflow: hidden;
    -webkit-box-shadow: 0px 1px 2px 0px rgba(199,199,199,1);
    -moz-box-shadow: 0px 1px 2px 0px rgba(199,199,199,1);
    box-shadow: 0px 1px 2px 0px rgba(199,199,199,1);

    .talk-time {
      color: $gold;
      display: flex;
      width: 50px !important;
      margin-right: 10px;
      margin-bottom: 10px;
    }
  }
  .schedule {
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: calc(1.75vw + 1.75vh);
    font-family: 'Jura', 'Roboto', sans-serif;
    margin-bottom: 20px;
  }
  .track {
    justify-content: center;
    align-items: center;
    display: flex;
    text-transform: uppercase;
    font-family: 'Jura', 'Roboto', sans-serif;
    font-size: calc(1vw + 1vh);
    color: #fff;
    background: $light-gold;
    /*background: #ad974f99;*/
  }

  .both-tracks {
    grid-column: 1 / 3;
  }
}





.con-schedule-tabs {
  font-family: Lato, Gotham, Arial;
  
  .con-sched-tabs {
    display: flex;
    justify-content: center;
  }
  .con-sched-tabs li {
    float: left;
    width: 40%;
    display: block;
  }
  .con-sched-tabs input[type="radio"] {
    display: none;
  }
  .con-sched-tabs label {
    display: block;
    padding: 25px 0;
    font-weight: normal;
    text-transform: uppercase;
    text-align: center;
    background: #d9d9d6;
    color: #707372;
    cursor: pointer;
    position: relative;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  .con-sched-tabs label:hover {
    background: $baltic-sea;
    color: #ffffff;
  }
  .con-sched-tabs label span {
    display: block;
    font-size: 6em;
    line-height: 1;
    font-weight: 900;
  }
  .con-sched-tabs .tab-content {
    z-index: 2;
    display: none;
    overflow: hidden;
    width: 100%;
    font-size: 17px;
    line-height: 25px;
    padding: 25px;
    position: absolute;
    top: 184px;
    left: 0;
    background: #ffffff;
  }
  .con-sched-tabs [id^="con-sched"]:checked + label {
    background: $light-gold;
    color: #ffffff;
  }
  .con-sched-tabs [id^="con-sched"]:checked + label:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: calc(50% - 20px);
    border: 20px solid transparent;
    border-bottom-color: #fff;
  }
  .tabs [id^="con-sched"]:checked ~ [id^="tab-content"] {
    display: block;
  }

  table {
    width: 100%;
  }

  tr:nth-of-type(even) {
    background-color: #ffffff;
  }

  tr:first-of-type {
    padding-top: 50px;
  }

  td {
    border: 0;
    width: 75%;
    vertical-align: top;
    padding: 15px;
  }
  td:nth-of-type(2n+1) {
    width: 25%;
    text-align: right;
    font-weight: bold;
    text-transform: uppercase;
  }

  .session-title {
    font-weight: bold;
    text-transform: uppercase;
  }

  .session-description {
    display: block;
  }


  .grid-wrapper-thursday {
    margin-top: 20px;
    display: grid;
    grid-gap: 10px;
    grid-template-rows: 42px 42px 300px;
    grid-template-columns: calc(100% - 10px);
    background-color: #fff;
    color: #444;
    padding-bottom: 30px;
    font-size: 14px;

    a {
      text-decoration: none;
    }
  }

  .grid-wrapper-friday {
    margin-top: 20px;
    display: grid;
    grid-template-rows: 42px 42px 80px 35px 35px 80px 80px 80px 80px 80px 80px 80px 80px 80px 80px 80px 80px 80px 80px 80px 30px;
    background-color: #fff;
    color: #444;
    padding-bottom: 30px;
    font-size: 14px;

    a {
      text-decoration: none;
    }
  }

  .middleLabel {
    border-left: 1px solid #cfad7d;
    border-right: 1px solid #cfad7d;
  }

  .grid-wrapper-saturday {
    margin-top: 20px;
    display: grid;
    grid-template-rows: 42px 42px 80px 35px 35px 80px 80px 80px 80px 80px 80px 80px 80px 80px 80px 80px 80px 80px 80px 80px 30px;
    background-color: #fff;
    color: #444;
    padding-bottom: 30px;
    font-size: 14px;

    a {
      text-decoration: none;
    }
  }



  /******************
      Columns
  /****************** */

  .coyote {
    grid-column: 1
  }
  .penguin {
    grid-column: 2
  }
  .jctf {
    grid-column: 3
  }
  .vill {
    grid-column: 4
  }
  .vill-c {
    grid-column: 5
  }


  /******************
      Rows
  /****************** */

  .morn {
    grid-row-start: 4;
    grid-row-end: 9;
  }
  .afternoon {
    grid-row-start: 10;
    grid-row-end: 14;
  }
  .closed {
    grid-row-start: 4;
    grid-row-end: 7;
  }
  .jctf-day1 {
    grid-row-start: 8;
    grid-row-end: 15;
  }
  .jctf-day2 {
    grid-row-start: 7;
    grid-row-end: 12
  }
  .jctf-calc {
    grid-row-start: 12;
    grid-row-end: 15;
  }
  .vill-day1 {
    grid-row-start: 7;
    grid-row-end: 15;
  }
  .open-hard {
    grid-row-start: 8;
    grid-row-end: 10;
  }
  .wifi {
    grid-row-start: 7;
  }
  .iot-1 {
    grid-row-start: 10;
  }
  .iot-faq {
    grid-row-start: 11;
  }
  .iot-2 {
    grid-row-start: 12;
  }
  .open-close {
    grid-row-start: 13;
    grid-row-end: 15;
  }
  .open-sat {
    grid-row-start: 9;
    grid-row-end: 15;
  }
  .wv-close {
    grid-row-start: 15;
  }

  /******************
      Combos
  /****************** */
  .cp-workshops {
    grid-column: 1 / 3;
    grid-row-start: 9;
    grid-row-end: 10;
  }









  .box {
    background-color: $gallery;
    color: $mine-shaft;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-left: solid 8px $light-gold;
    padding: 5px 10px;
    height: 100%;
    overflow: hidden;
    -webkit-box-shadow: 0px 1px 2px 0px rgba(199,199,199,1);
    -moz-box-shadow: 0px 1px 2px 0px rgba(199,199,199,1);
    box-shadow: 0px 1px 2px 0px rgba(199,199,199,1);

    .talk-time {
      color: $gold;
      display: flex;
      width: 50px !important;
      margin-right: 10px;
      margin-bottom: 10px;
    }

  }
  .schedule {
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: calc(1.75vw + 1.75vh);
    font-family: 'Jura', 'Roboto', sans-serif;
    margin-bottom: 20px;
  }
  .track {
    justify-content: center;
    align-items: center;
    display: flex;
    text-transform: uppercase;
    font-family: 'Jura', 'Roboto', sans-serif;
    font-size: calc(.6vw + .7vh);
    color: #fff;
    background: $light-gold;
    /*background: #ad974f99;*/
    flex-wrap: wrap;
    text-align: center;
    padding: 0px 10px;
  }

  .villages {
    list-style: none;
  }

  .two-tracks {
    grid-column: 1 / 3;
  }

  .both-tracks {
    grid-column: 1 / 6;
  }
}