.no-margin-bottom {
  margin-bottom: 0 !important;
}

.spons-block {
  margin-top: 30px;

  h3 {
    font-family: 'Jura', 'Montserrat', sans-serif;
    margin-bottom: 10px;
    font-weight: 900;
  }
}