@import '../../static/styles/colors';

.nav-bar {
  padding: 20px 0px 0px 0px;
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
  position: absolute;

  .nav-container {
    display: flex;
    flex-direction: column;

    .top-nav {
      display: flex;
      justify-content: space-between;   /* space-evenly at 1000px and below */

      .nav-date {
        color: #eee;
        font-size: 20px;
        font-weight: 100;
        text-transform: uppercase;
        display: flex;
        align-items:center;
        z-index: 1;
      }
    }

    .nav-menu {
      margin: 10px 0px;
      flex: 1;

      .nav-large {
        flex: 1;
        position: relative;
        z-index: 1;

        .nav-links {
          display: flex;
          justify-content: space-between;
          padding: 10px 0px;
          position: relative;
          z-index: 1;
        }
      }

      .nav-small {
        float: right;
        margin-right: 30px;
        z-index: 99;
        position: absolute;

        div[role=button] {
          display: flex;
          justify-content: flex-end;
          z-index: 100;
          position: fixed;
          top: 15px;
          right: 30px;

          &:hover {
            cursor: pointer;
          }
        }

        .nav-links {
          display: flex;
          flex-direction: column;
          background-color: rgba(0,0,0,0.9);
          position: fixed;
          top: 0;
          left: 0;
          right: 0;
          padding: 30px;
          height: 160px;
          -webkit-animation: expand 1s;
          overflow: hidden;
        }

        @-webkit-keyframes expand {
          0%{height: 0px}
          100%{height: 160px}
        }
      }
    }

    a {
      text-decoration: none;
      color: $light-gold;
      font-size: 18px;
      font-family: 'Jura';
      font-weight: 400;
      text-transform: uppercase;
      text-shadow: 0px 2px 2px rgba(0,0,0, 0.4);
      position: relative;
      z-index: 1;

      img {
        align-content: baseline;
        display: flex;
      }
    }
  }
}