@import '../../static/styles/colors';
@import '../../static/styles/variables';

.venue-section {
  padding: 100px 0px 10px 0px;

  .title {
    margin: 30px 0px;
  }

  .call-out {
    margin-left: 0px;
    width:580px;
    height:500px;
  }
}

.venue-text {
  color: $black;
  font-weight: 500;
}
.hotel-sub-text {
  color: $black;
  font-weight: 300;
  font-size: 12px;
}
.venue-sub-text {
  color: $black;
  font-weight: 300;
  font-size: 18px;

  a {
    color: $gold;
  }
}
.venue-hightlight-text {
  font-size: 18px;
  font-weight: 500;
}
.venue-hotel-title {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}
.venue-hotel-info {
  display: flex;
  flex-direction: column;
  padding-left:10px;
}

.venue-hotel {
  display: flex;
  flex-direction: row;

  .venue-location {
    flex-direction: column;
  }
  .venue-reservation {
    flex-direction: column;
    padding: 0px 30px;
  }
}


.amnenities-list {
  display: flex;
  flex-direction: row;
  margin: 10px 0px;
}
.amnenities-col {
  padding: 0px 15px;
}

.map-container {
  margin-top: 20px;
  overflow: hidden;
  height: 240px;
}

.place-card-medium {
  /* hide annoying, pointless block in map */
  display: none !important;
}





