@import '../../static/styles/colors';


.highlight-text {
  color: $gold;
  font-weight: 300 !important;
}


.image-area {
  float: right;
  padding: 40px 10px 10px 20px;
}

.email-address {
  text-decoration: underline;
}