@import '../../static/styles/colors';

.event-border {
  padding-bottom: 10px;
  margin-bottom: 20px;

  &:not(:last-child) {
    border-bottom: 1px #ddd solid;
  }
  .event {
    display: flex;

    .tab-title {
      margin-bottom: 10px;
    }

    .event-title {
      font-size: 16px;
      font-weight: 500;
      display: flex;
      flex-direction: row;
    }

    .event-description {
      font-size: 16px;
      font-weight: 300;
      display: flex;
      flex-direction: row;
      padding-top: 10px;
      line-height: 20px;
      margin-bottom: 10px;
    }

    .event-bullet-list {
      list-style-position: outside;
      padding-left: 20px;
      margin: 15px 0px;
      
      .event-bullet-header {
        font-weight: 500;
        margin-left: -20px;
      }

      .event-bullet {
        font-size: 14px;
        font-weight: 300;
        margin-bottom: 4px;
      }
    }


    .event-authors {
      font-size: 16px;
      font-weight: 300;

      .event-author-list {
        .event-author {
          a {
            text-decoration: none;
            color: $gold;

            &:hover {
              text-decoration: underline;
            }
          }
        }
        .event-author:not(:first-child) {
          &:before {
            content: "\2022";
            color: #000;
            margin: 0px 8px;
          }
        }
      }
    }
  }

  .buttons {
    display: inline-block;
  }
}

.bio {
  .bio-text-area {
    .bio-name {
      margin: 30px 0px 0px 0px;
    }
    .bio-title {
      margin-block-start: 10px;
      color: $gold;
      font-weight: 100;
      letter-spacing: 2px;
    }
    .bio-text {
      font-weight: 300;
      font-size: 18px;
      line-height: 28px;
    }
  }

  .bio-image-area {
    float: right;
    padding: 40px 10px 10px 20px;
  }
}

.event div .tab-title {
  display: block !important;
  margin-top:10px;
}
.organizers .tab-title {
  display: block !important;
  margin-top:15px;
  margin-bottom: 10px;
}


.session-box {
  margin: 0px 0px 20px 25px;
  border: 1px solid #ccc;
  width: 80px;

  .session-heading {
    background-color: #555;
    color: white;
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 20px;
    text-align: center;
    padding: 2px;
    font-weight: 300;
  }

  .session-text {
    font-size: 13px;
    padding: 2px;
    font-weight: 300;
    text-align: center;
    color: $gold;
  }

  .red-text {
    color: red;
  }

}
